.news {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  width: 28rem;
  height: 38rem;
}

.news-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-content {
  background-color: white;
  color: black;
  padding: 10px 20px;
  line-height: 1.8;
  word-spacing: 5px;
  width: 100%;
  height: 40rem;
}
